hr{
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    border-color: #EC7357;
}

#elem_list_header img{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100%; 
}

#elem_list_header h1{
    font-family: 'Source Code Pro', 'Roboto', monospace; 
    color: #EC7357; 
    text-align: center;
    font-size: 2.5em;
    
}

body{
    
    font-family: 'Roboto', monospace;
    background-color: #FDD692; 
    color: #754F44;
    padding: 20px;
    margin: 5px 250px auto 250px; 
    margin: 0.5em 10em auto 10em;
    font-size: 1.1em;
} 

#scrolltable{ 
    margin-top: 1.20em; 
    height: 350px; 
    overflow: auto;
}

#elem-list-table{
    background-color: #E1CE7A;
    margin-left: 6em;
    width: 75%;
    border-collapse: collapse;
}

#elem-list-table td, th{
    height: 50px;
    vertical-align: middle;
    text-align: center;
    border: 3px solid #EC7357;
}

#elem-list-table a{
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    color: #754F44;
}

#elem-list-table tr:hover{
    background-color: #FBFFB9;
}

#elem_list_footer ul{
    width: 570px;
    margin: 0px auto 0px auto;
    text-align: justify;
}

#elem_list_footer li{
    display: inline;
    margin: 0px 5px;
}

#elem_list_footer a{
    color: #754F44;
    text-decoration: none;
    font-weight: bolder;
}

#elem_list_footer a:hover{
    color: #EC7357;
}

